.rowmundo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  color: chartreuse;
}

.loginraul{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;

}

body{
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-de-particula-de-tecnologia-de-estilo-realista_23-2148426704.jpg?t=st=1721327103~exp=1721330703~hmac=3ad8c4f66bbd11475a961d7627f597535ab0fc37e5fcbc6ebe23e31ad77724a4&w=1380);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
header{
    color: white;
    padding: 1em;
    text-align: center;
}